/* *{
    scroll-behavior: smooth;
}
 */

/* a{
    width: 200px;
    height: 80px;
    background-color: aqua;
    position: sticky;
    top: 10%;
} */

/* blockquote{
    float: right;
    width: 275px;
 font-size: 130%;
 font-style: italic;
 font-family: Georgia, Times, serif;
 margin: 0px 0px 10px 10px;
 padding: 10px;
 border-top: 1px solid #665544;
 border-bottom: 1px solid #665544;
}


img{
    width: 300px;
    float: right;
} */

/* .layout{
    height: 100vh;
    width: 100vw;
    background-color: aqua;
}

.box{
   height: 20vh;
   width: 20vw; 
   background-color: brown;
   float: right;
   margin: 10px;
}

.two{
    background-color: pink;
   
}


.four{

    clear: both;

} */

/* .container{

    height: 100vh;
    width: 100vw;
    background-color: aqua;

}

.box{
  width:  50%;
  height: 40vh;
  background-color: blue;
  color: white;
  font-size: 36px;
} */



/* .container{
    height: 100vh;
    max-width: 1400px;
    overflow: hidden;
    background-color: aqua;
    margin: 0 auto;
} */

/* 
.container{
  width:50vw;
  height: 300px;
  background-color: blueviolet;
}


.box{
    width:50%;
    height: 50%;
    background-color: rgb(24, 205, 255);
  
} */



/* 
body {
    width: 960px;
    margin: 0 auto;}
    #content {
    overflow: auto;
    height: 100%;}
    #nav, #feature, #footer {
    background-color: #efefef;
    padding: 10px;
    margin: 10px;}
    .column1, .column2, .column3 {
    background-color: #efefef;
    width: 300px;
    float: left;
    margin: 10px;}
    li {
    display: inline;
    padding: 5px;} */
/* 
    


    .box{
        height: 400px;
        width: 400px;
        background-color: red;
    }


    .box2{
        background-color: green;
    } */



    @import url('./home.css');